<form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value, loginForm.valid)" autocomplete="off">
  <div>

    <label>
      User Name:
      <input type="text" id="userName" #spy formControlName="userName">{{spy.className}}
      <div *ngIf="f.userName.errors && submitted">This field is required</div>
    </label>
  </div>
  <div>
    <label>
      Password:
      <input type="password" formControlName="password">
      <div *ngIf="f.password.errors && submitted">
        <div *ngIf="f.password.errors.required">This field is required</div>
        <div *ngIf="f.password.errors.minlength">Maximun length 6 letters required</div>
      </div>
    </label>

  </div>
  <div>
    <label for="">Email</label>
    <input type="email" formControlName="email">
    <div *ngIf="loginForm.controls.email.errors && submitted">
      <div *ngIf="loginForm.controls.email.errors.required">email is required</div>
      <div *ngIf="loginForm.controls.email.errors.pattern">invalid pattern</div>
    </div>
  </div>
  <div>
    <label for="">Gender</label>
    <input type="radio" value="Male" name="gender" formControlName="gender">
    <input type="radio" value="Female" name="gender" formControlName="gender">
    <div *ngIf="loginForm.controls.gender.errors?.required && submitted">gender required</div>
  </div>
  <div>
    <label for="">Cities</label>
    <div>
      <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike" formControlName="vehicles">
      <label for="vehicle1"> I have a bike</label><br>

    </div>
    <div>
      <input type="checkbox" id="vehicle2" name="vehicle2" value="Car" formControlName="vehicles">
      <label for="vehicle2"> I have a car</label><br>

    </div>
    <div>
      <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat" formControlName="vehicles">
      <label for="vehicle3"> I have a boat</label>
    </div>
    <div *ngIf="loginForm.controls.vehicles.errors?.required && submitted">selectt vehicles required</div>
  </div>
  <button type="submit">Login</button>
</form>