<p>
  dashboard works!
</p>
<form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm.value)">
  <div class="form-group">
    <label for="">Name</label>
    <input class="form-control" type="text" formControlName="name">
  </div>
  <div class="form-group">
    <label for="">Email</label>
    <input class="form-control" type="text" formControlName="email">
  </div>
  <div class="form-group">
    <button type="submit">Submit</button>
  </div>
</form>
<table>
  <thead>
    <tr>
      <th>name</th>
      <th>email</th>
      <th>actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items;">
      <td>{{item.name}}</td>
      <td>{{item.email}}</td>
      <td><a (click)="onEdit(item)">Edit</a></td>
      <td><a (click)="onDelete(item)">Delete</a></td>
    </tr>
  </tbody>
</table>
